@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
    @property --scale {
        syntax: "<number>";
        initial-value: 1;
        inherits: false;
    }
h3 {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(12, 12, 12);
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;

}

#card {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    gap : 20px;
    max-height: 400px;
    margin: 1rem;
    padding: 1rem;
    background-color:#d2b7e5; 
    border-radius: 15px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: perspective(500px);
    transform-style: preserve-3d;
    
}



#card:hover {
    transform: perspective(500px) scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s ease-in-out;
    background-color:  #ab89ce;
    }

