#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fec5bb;
  margin-left: 0 auto;
  margin-right: 0 auto;
  cursor: url(https://cur.cursors-4u.net/anime/ani-9/ani879.png), auto !important;
  
}





/* Path: anime-finder\src\Components\Search\Search.css */

