h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 50%;
    max-height: 350px;
    max-width: 350px;
}